 <table class="table table-hover" width:100%>    
       <thead>   
          <tr>
            <th>日期</th>
            <th>團友</th>
            <th>金額</th>
            <th>分類</th>
            <th>項目</th>
            <th></th>
            <th></th>
          </tr>
        </thead>
	<tbody>
	
	</tbody>
</table>
