<div class="row">
  <div class="span8">
    <h2><%= @group.name %></h2>
    <hr />
    <p><%= simple_format @group.description %></p>
    <%= link_to '確認入團', @join_group_path, method: :patch, class: 'btn btn-primary' %>
  </div>
  <%= render 'shared/groups_sidebar' %>
</div>