<div class="span4">
  <div class="groups-sidebar">
    <%= link_to '建立新團體', new_group_path, class: 'btn btn-primary' %>
  <% if current_user.groups.any? %>
    <ul>
    <% current_user.groups.each do |group| %>
      <li class="clearfix">
        <span class="group-name"><%= group.name %></span>
        <span class="group-link pull-right"><%= link_to '瀏覽', group_path(group), class: 'btn' %></span>
      </li>
    <% end %>
    </ul>
  <% end %>
  </div>
</div>