<!DOCTYPE html>
<html>
<head>
  <title>Gurupu</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="container">
    <div class="hero-unit">
      <h1>Gurupu</h1>
      <p>夠浪漫,這將會是⼀一部在⼀一⽚片霧茫茫的⽚片段中考驗觀眾眼⼒力的影⽚</p>
      <a href="/auth/facebook" class="btn btn-primary">Login with Facebook</a>
    </div>
    <div class="row">
      <div class="span6">
        <h2>超人車窗外問路短片</h2>
        <p>腸胃炎變多,敘利亞新憲法草案公投 結束,兩岸/臺北兩岸和平發展論壇: 鞏固九⼆二共識,國內油價連3漲,魏⾠辰 洋.楊淑君,連假濕冷相隨。</p>
      </div>
      <div class="span6">
        <h2>超人車窗外問路短片</h2>
        <p>腸胃炎變多,敘利亞新憲法草案公投 結束,兩岸/臺北兩岸和平發展論壇: 鞏固九⼆二共識,國內油價連3漲,魏⾠辰 洋.楊淑君,連假濕冷相隨。</p>
      </div>
    </div>
    <div class="row">
      <div class="span6">
        <h2>超人車窗外問路短片</h2>
        <p>腸胃炎變多,敘利亞新憲法草案公投 結束,兩岸/臺北兩岸和平發展論壇: 鞏固九⼆二共識,國內油價連3漲,魏⾠辰 洋.楊淑君,連假濕冷相隨。</p>
      </div>
      <div class="span6">
        <h2>超人車窗外問路短片</h2>
        <p>腸胃炎變多,敘利亞新憲法草案公投 結束,兩岸/臺北兩岸和平發展論壇: 鞏固九⼆二共識,國內油價連3漲,魏⾠辰 洋.楊淑君,連假濕冷相隨。</p>
      </div>
    </div>
  </div>
</body>
</html>