.groups-sidebar {
  padding: 20px;
  border-radius: 5px;
  border: 1px solid #e5e5e5;
  box-shadow: 0 1px 2px rgba(0,0,0,.05);
}

.groups-sidebar>.btn-primary {
  width: 90%;
}

.groups-sidebar ul {
  list-style-type: none;
  margin-top: 15px;
  margin-left: 0;
}

.groups-sidebar ul>li {
  display: inline-block;
  width: 100%;
}