<!DOCTYPE html>
<html>
<head>
  <title>Gurupu</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
	<div id="header">
    <div class="row" align="center">
      <div class="span8" >
				<h1>團體記帳 GURUPU</h1>
      </div>
      <div class="span4">
      	<!-- log in/log out -->
      </div>
    </div>		
	</div>

	<div id="content">
		<div class="row">
		  <div class="span0.5">
		  </div>
		  <div class="span11.5">
				<%= yield %>		
		  </div>
		</div>			
	</div>
	
	<div id="footer">	    
	</div>
</body>
</html>
